.scout-chats-realtime-indicator {
  animation: scout-chats-realtime-indicator 3s infinite;
  transform: scale(0.5);
}

@keyframes scout-chats-realtime-indicator {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  60% {
    opacity: 0;
  }
  75%,
  100% {
    transform: scale(4);
    opacity: 0;
    filter: blur(4px);
  }
}

.scout-chats-chat-thinking {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(
      to right,
      transparent 0%,
      rgba(0, 0, 0, 0.6) 25%,
      transparent 50%,
      transparent 100%
    ),
    var(--black-alpha-48);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: scout-chats-chat-shine 3.5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes scout-chats-chat-shine {
  0% {
    background-position: 100% 0;
  }
  50%,
  100% {
    background-position: -100% 0;
  }
}
